<div class="bg-[var(--color-primary)] p-4 pb-0 text-white">
    <div class="flex justify-between mb-4">
        <div><a routerLink="">
                <p class="font-[Chernobyl] text-6xl">Legends Clash</p>
            </a></div>
        <div>
            @if (user.usuario === null) {
                <a routerLink="login"><mat-icon aria-hidden="true" class="!text-[40px] !w-[40px] !h-[40px]">login</mat-icon></a>
            } @else {
                <a><mat-icon aria-hidden="true" class="!text-[40px] !w-[40px] !h-[40px]">logout</mat-icon></a>
            }
        </div>
    </div>
    <div class="flex justify-start text-xl">
        <a href="" class="mr-20">
            <div [ngClass]="{ 'border-b-2': !light }">
                <p>Personajes</p>
            </div>
        </a>
        <a [routerLink]="'batallas'">
            <div [ngClass]="{ 'border-b-2': light }">
                <p>Batallas</p>
            </div>
        </a>
    </div>
</div>