<div class="bg-gray-500 p-4 rounded-lg flex flex-wrap text-center justify-around">
  <p class="w-full text-2xl font-bold">{{ batalla.nombre }}</p>
  <div class="w-[45%] flex flex-wrap justify-around">
    <p class="w-full">{{ batalla.equipo1.nombreEquipo }}</p>
    @for (personaje of batalla.equipo1.personajes; track $index) {
      <div class="w-[23%] h-[90%]"><app-personaje [personaje]="personaje" [completo]="false"/></div>
    }
  </div>
  <div class="border-2 w-1 h-60"></div>
  <div class="w-[45%] flex flex-wrap justify-around">
    <p class="w-full">{{ batalla.equipo2.nombreEquipo }}</p>
    @for (personaje of batalla.equipo2.personajes; track $index) {
      <div class="w-[23%] h-[90%]"><app-personaje [personaje]="personaje" [completo]="false"/></div>
    }
  </div>
  <div class="w-full">
    @if (votado) {
      AAAAAAAAAAAAAA
    } @else {
      BBBBBBBBBBBBBB
    }
  </div>
</div>
