<div
  class="bg-gray-500 p-4 rounded-lg flex flex-wrap text-center justify-around"
>
  <p class="w-full text-2xl font-bold">{{ batalla.nombre }}</p>
  <div class="w-[45%] flex flex-wrap justify-around">
    <p class="w-full">{{ batalla.equipo1.nombreEquipo }}</p>
    @for (personaje of batalla.equipo1.personajes; track $index) {
    <div class="w-[23%] h-[90%]">
      <app-personaje [personaje]="personaje" [completo]="false" />
    </div>
    }
  </div>
  <div class="border-2 w-1 h-60 bg-black"></div>
  <div class="w-[45%] flex flex-wrap justify-around">
    <p class="w-full">{{ batalla.equipo2.nombreEquipo }}</p>
    @for (personaje of batalla.equipo2.personajes; track $index) {
    <div class="w-[23%] h-[90%]">
      <app-personaje [personaje]="personaje" [completo]="false" />
    </div>
    }
  </div>
  <div class="w-full flex h-24 pt-4">
    @if (logged) { @if (votado) {
    <div
      class="w-full h-full flex p-6 pt-2 flex-wrap bg-[var(--color-batalla)] text-white rounded-2xl"
    >
      <p class="w-full text-left">Votos totales: {{ cantidadDeVotos }}</p>
      <div class="w-full h-4 rounded-2xl overflow-hidden flex">
        <div [style.width]="anchoEquipo1">
          <div class="bg-blue-500 h-4 rounded-l-2xl"></div>
        </div>
        <div [style.width]="anchoEquipo2">
          <div class="bg-red-500 h-4 rounded-r-2xl"></div>
        </div>
      </div>

      <div class="w-full flex justify-between">
        <p class="text-left">{{ votosEquipo1 | number : "1.0-2" }}%</p>
        <p class="text-right">{{ votosEquipo2 | number : "1.0-2" }}%</p>
      </div>
    </div>
    } @else {
    <div class="w-1/2">
      <button (click)="votar(batalla.equipo1.id)" class="bg-blue-500 p-4 border-2 rounded-2xl hover:bg-blue-600">
        Votar a {{ batalla.equipo1.nombreEquipo }}
      </button>
    </div>
    <div class="w-1/2">
      <button (click)="votar(batalla.equipo2.id)" class="bg-red-500 p-4 border-2 rounded-2xl hover:bg-red-600">
        Votar a {{ batalla.equipo2.nombreEquipo }}
      </button>
    </div>
    } } @else {
      <div class="w-full flex justify-center">
        <a routerLink="/login"><p class="text-center w-fit border-2 h-fit p-2 rounded-xl bg-gray-700 text-white">Inicia sesión para votar!</p></a>
      </div>
    }
  </div>
</div>
