<div
    class="p-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-2 md:gap-4 bg-gray-900 justify-items-center">
    @if (tipo) {
    @for (personaje of personajes; track $index) {
    <app-personaje [personaje]="personaje" class="w-full" />
    }
    } @else if (!tipo) {
    @for (batalla of batallas; track $index) {
    <app-batalla [batalla]="batalla" class="w-full" />
    }
    <!-- @if (user.role === 'admin') {} -->
    <button
        class="text-black bg-white h-12 w-12 absolute right-10 bottom-10 flex items-center justify-center rounded-full"><mat-icon
            aria-hidden="true" class="!text-[40px] !w-[40px] !h-[40px]">add</mat-icon></button>
    }
</div>