<div
  class="h-full p-4 flex justify-between flex-wrap"
  [ngStyle]="{
    'background-color': 'var(--color-' + estilosSaga + ')',
    'font-family': 'var(--font-' + estilosSaga + ')',
    color: 'var(--color-font' + estilosSaga + ')'
  }"
>
  <div class="w-[100%] mb-4">
    <p class="text-4xl font-bold">{{ personaje?.nombre }}</p>
    <p>{{ personaje?.saga }}</p>
  </div>

  <div class="w-[40%] aspect-square">
    <img [src]="personaje?.imagenCuerpo" />
  </div>
  <div class="w-[60%] p-8">
    <p>Stats:</p>
    <table class="w-full text-left">
      <thead>
        <th class="w-[10%]">Característica</th>
        <th></th>
        <th class="w-[10%] pl-4">Puntuacion</th>
      </thead>
      <tbody>
        @for (stat of stats; track $index) {
        <tr>
          <td>{{ stat }}:</td>
          <td class="flex flex-wrap justify-around p-1">
            @if (userService.userRoles.includes("ROLE_ADMIN")) {
            <button
              (click)="subtract(stat)"
              [disabled]="personaje?.[stat] === 0"
              class="text-black flex items-center justify-center rounded-full bg-gray-400"
              [class.opacity-50]="personaje?.[stat] === 0"
            >
              <mat-icon aria-hidden="false">remove</mat-icon>
            </button>
            }

            <input
              type="range"
              min="0"
              max="100"
              [value]="personaje?.[stat]"
              disabled
              class="range-custom w-[90%]"
              [style.--color-range]="
                'var(--color-secondary' + estilosSaga + ')'
              "
            />
            @if (userService.userRoles.includes("ROLE_ADMIN")) {
              <button
                (click)="add(stat)"
                [disabled]="personaje?.[stat] === 100"
                class="text-black flex items-center justify-center rounded-full bg-gray-400"
                [class.opacity-50]="personaje?.[stat] === 100"
              >
                <mat-icon aria-hidden="true">add</mat-icon>
              </button>
            }
          </td>
          <td class="pl-4">{{ personaje?.[stat] }}</td>
        </tr>
        }
      </tbody>
    </table>
    <p>Altura: {{ personaje?.altura }}cm</p>
    <p>Peso: {{ personaje?.peso }}kg</p>
    <p>{{ personaje?.descripcion }}</p>
    @if (actualizado) {
    <button
      (click)="actualizar()"
      class="mt-4 border-4 p-2 rounded-xl"
      [ngStyle]="{
        'border-color': 'var(--color-secondary' + estilosSaga + ')'
      }"
    >
      Actualizar
    </button>
    }
  </div>
</div>
